<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toppas4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Toppas4.Properties.Settings>
            <setting name="AUTOUPDATE_ENABLE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AUTOUPDATE_DATA_FOLDER" serializeAs="String">
                <value>\\PCD01851\SharedFolder\NeoToppasLatestVersion</value>
            </setting>
            <setting name="LABEL_TEMPLATE_DIRECTORY" serializeAs="String">
                <value>C:\Users\l057277\OneDrive - Topcon\ドキュメント\各種案件\7.TOPPAS置き換え\3.ラベルプリンタ\ブラザーラベルプリンタ\テンプレート</value>
            </setting>
        </Toppas4.Properties.Settings>
    </applicationSettings>
</configuration>